doctype html
html(lang="en-US")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible",content="ie-edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="a simple project setup for rookie web desingers")
        title Welcome to Project Setup
        link(rel="stylesheet", href="styles/main.css")
    body
        .container
            span.heading This is a simple project setup including the gulp task runner
            span.code git clone https://github.com/DesignPractices/project-struct.git
